# core
fastapi
uvicorn==0.11.8
gunicorn
aiofiles

# forms
python-multipart
git+https://github.com/mikeckennedy/fastapi-chameleon.git

# utilities
progressbar2
python-dateutil
passlib
colorama

# databases
#sqlalchemy==1.4.0b2
sqlalchemy>=1.4.3
aiosqlite>=0.17.0
pandas
